@font-face {
  font-family: "Shabnam";
  src: url("/fonts/Shabnam-Bold-FD.eot");
  src:
    url("/Fonts/Shabnam-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("/Fonts/Shabnam-Bold-FD.woff2") format("woff2"),
    url("/Fonts/Shabnam-Bold-FD.woff") format("woff"),
    url("/Fonts/Shabnam-Bold-FD.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
